body {
    background: rgb(188, 226, 250);
}

h1 {
    font-size: 60px;
}

h2 {
    color: gray;
    font-size: 45px;
    font-style: normal;
}

li {
    list-style: none;
    color: navy;
}

article {
    background-color: moccasin;
}

.america {
    color: red;
    font-style: bold;
}

img {
    border-radius: 15px;
}

.boxed {
    border-radius: 15px;
    border: 3px slategrey;
    background-color: tan;
    padding: 10px;
    box-sizing: border-box;
    width: 250px;
}

.boxed:hover {
    height: 260px;
    width: 260px;
    background-color: orange;
}
